<<<<<<< HEAD
body {
  background-color:  #f6f6f6;

}

html, body {



margin:0;
margin-top: 50px;
margin-bottom: 50px;
padding:0;



}

.projectOne {
  background: #f6f6f6;
}


.headingSite{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -10px;
}

.site-content{
  color: #008080;
  display:inline-block;
  left:2.5%;
  position:relative;
}

@media screen and (max-width: 1200px){
  .site-content{
  left: 25%;
  text-align: center;
  }
}



.webImage{
  border: 2px solid #008080;
  margin-left: 10%;
  height: 135;
  width: 240;
}

.website{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  margin-left: 25%;
  margin-top: -140px;
  padding-bottom: 40px;
  text-align: left;
}

@media screen and (max-width: 1200px){
  .website{
    text-align: center;
    margin-left: 0;
    margin-top: 0;
    left: 25%;
    margin: auto;
  }
}


.websiteLink{
  color: #008080;
}
.projectTwo {
  background: #f6f6f6;
  margin-top: 150px;
}

.toDo{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  margin-left: 25%;
  margin-top: -140px;
  padding: 0;
  text-align: left;
}

@media screen and (max-width: 1200px){
  .toDo{
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
}

.toDoImage{
  border: 2px solid #009028;
  margin-left: 10%;
  height: 135;
  width: 240;
}

.headingToDo{
  color: #009028;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -105px;
}

.todolink{
  color: #009028;
}

.projectBreak{
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
  margin-top: 100px;
  height: 100px;
  position: relative;
  padding: 50px;
}

.projectBreak:before, .projectBreak:after {
    content: "";
    height: 100px;
    margin-left: -75%;
    position: absolute;
    left: 0;
    right: 0;

}

.projectBreak:before{
    transform: skewY(5deg);
    background: #008080;
    top: -20px;
    z-index: +2;
}

.projectBreak:after {
  transform: skewY(-5deg);
  background: #009028;
  bottom: -20px;
  z-index: +1;
}

.pbFill{
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-top: -100px;
  position: relative;
  padding: 50px;
}

.pbFill:before, .pbFill:after {
  content: "";
  height: 80px;
  position: absolute;
  left: 1200px;
  right: 0;
}

.pbFill:before{
    transform: skewY(-5deg);
    background: #333;
    top: -20px;
    z-index: -1;
}

.pbFill:after {
  transform: skewY(5deg);
  background: #333;
    bottom: -20px;
    z-index: -1;
}






















/
=======
body {
  background-color:  #f6f6f6;

}

html, body {



margin:0;
margin-top: 50px;
margin-bottom: 50px;
padding:0;



}

.projectOne {
  background: #f6f6f6;
}


.headingSite{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -10px;
}

.site-content{
  color: #008080;
  display:inline-block;
  left:2.5%;
  position:relative;
}

@media screen and (max-width: 1200px){
  .site-content{
  left: 25%;
  text-align: center;
  }
}



.webImage{
  border: 2px solid #008080;
  margin-left: 10%;
  height: 135;
  width: 240;
}

.website{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  margin-left: 25%;
  margin-top: -140px;
  padding-bottom: 40px;
  text-align: left;
}

@media screen and (max-width: 1200px){
  .website{
    text-align: center;
    margin-left: 0;
    margin-top: 0;
    left: 25%;
    margin: auto;
  }
}


.websiteLink{
  color: #008080;
}
.projectTwo {
  background: #f6f6f6;
  margin-top: 150px;
}

.toDo{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  margin-left: 25%;
  margin-top: -140px;
  padding: 0;
  text-align: left;
}

@media screen and (max-width: 1200px){
  .toDo{
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
}

.toDoImage{
  border: 2px solid #009028;
  margin-left: 10%;
  height: 135;
  width: 240;
}

.headingToDo{
  color: #009028;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -105px;
}

.todolink{
  color: #009028;
}

.projectBreak{
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
  margin-top: 100px;
  height: 100px;
  position: relative;
  padding: 50px;
}

.projectBreak:before, .projectBreak:after {
    content: "";
    height: 100px;
    margin-left: -75%;
    position: absolute;
    left: 0;
    right: 0;

}

.projectBreak:before{
    transform: skewY(5deg);
    background: #008080;
    top: -20px;
    z-index: +2;
}

.projectBreak:after {
  transform: skewY(-5deg);
  background: #009028;
  bottom: -20px;
  z-index: +1;
}

.pbFill{
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-top: -100px;
  position: relative;
  padding: 50px;
}

.pbFill:before, .pbFill:after {
  content: "";
  height: 80px;
  position: absolute;
  left: 1200px;
  right: 0;
}

.pbFill:before{
    transform: skewY(-5deg);
    background: #333;
    top: -20px;
    z-index: -1;
}

.pbFill:after {
  transform: skewY(5deg);
  background: #333;
    bottom: -20px;
    z-index: -1;
}






















/
>>>>>>> 3e5714ad3ac3a63e12f89bb8bf65ae5a8368d78a
