body {
  background-color:  #f6f6f6;
}

/*.center{
  clear:both;
  content:"";
  display:
  block;
  margin:0 auto;
  max-width:1020px;
  width:100%;
  padding:0 10px;
  box-sizing:border-box;
  text-align:center
}*/
.projectOne {
  background: #f6f6f6;
}


.heading{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.site-content{
  color: #008080;
  display:inline-block;
  left:2.5%;
  position:relative;
  top:20px;
  width:100%;
}

.webImage{
  margin-left: 0.5%;
  width: 18%;
}

.website{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  margin-left: 50%;
  margin-top: -120px;
  padding: 0;
  text-align: left;
}

.websiteLink{
  color: #008080;
}

.projectBreak1{
  background: #333;
  margin: auto;
  margin-left: 50%;
  margin-right: -1000px;
  margin-top: 100px;
}

.projectBreak{
  background: #008080;
  margin: auto;
  margin-left: -2000px;
  margin-right: -1000px;
  margin-top: -150px;
  transform: rotate(-5deg);
}

.projectBreak2{
  background: #009028;
  margin: auto;
  margin-left: -2000px;
  margin-right: -1000px;
  margin-top: -150px;
  transform: rotate(5deg);
}

.toDo{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  margin-left: 50%;
  margin-top: -120px;
  padding: 0;
  text-align: left;
}

.toDoImage{
  margin-left: 0.5%;
  width: 18%;
}

.headingToDo{
  color: #009028;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.todolink{
  color: #009028;
}























/
